#title{
    text-align: center;
    font-size: 2em;
}
#selector{
    text-align: center;
    margin-bottom: 20px;
    
}
#container{
    width: 100%;
    align-items: center;
}
#schedule{
    position: relative;
    width: 80%;
    margin-left: auto;

}

.day_calendar{
    width: 10%;
    height: 90px;
    float: left;
    border: 1px solid #000000;
    text-align: center;
    box-sizing: border-box;
}

#day8{
    clear:left;
}
#day15{
    clear:left;
}
#day22{
    clear:left;
}
#day29{
    clear: left;
}
#day36{
    clear: left;
}
.day_number{
    font-size: 2em;
}
#today{
    border: 3px solid #ff0000;
    font-size: 1.3em;
    font-weight: bold;
    color: #ff0000;
    box-sizing: border-box;
}